<div id="<%= dom_id restaurant %>" class="border card mb-3 px-3 pt-3">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= restaurant.category %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= restaurant.phone_number %>
  </p>

  <p>
    <%= link_to "Show this restaurant", restaurant_path(restaurant), {:class => "btn btn-primary w-100"} %>
  </p>
</div>
